<div class="layui-col-md10 left-div-div">
    <div class="layui-col-md9 left-div-div">    
        <div class="layui-tab">
                  <ul class="layui-tab-title">
                    <li class="layui-this">头像设置</li>
                  </ul>
                  <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        
                        <div class="layui-upload">  
                            <div class="layui-upload-list" >
                                <img class="layui-upload-img" src="{$user.avatar}" id="images" style="width: 200px;height: 200px;">
                                <p id="demoText"></p>
                            </div>
                            
                            <button type="button" class="layui-btn" id="test1">
                              <i class="layui-icon">&#xe67c;</i>上传图片
                            </button>
                           <div class="layui-inline layui-word-aux">
                              头像支持jpg,png,jpeg格式,文件大小最大不能超过500kb
                            </div>
                          <!--<button type="button" class="layui-btn" id="test1">上传图片</button>-->

                        </div>  
                        
                    </div>
                  </div>
                </div>
         </div>       
  </div>                
      