<div class="layui-col-md10 left-div-div">
    <div class="layui-col-md9 left-div-div">    
        <div class="layui-tab">
                  <ul class="layui-tab-title">
                    <li class="layui-this">资料设置</li>
                  </ul>
                  <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        
                        <form class="layui-form" action="" method="post" lay-filter="nei1s">
                          <div class="layui-form-item">
                            <label class="layui-form-label">昵称</label>
                            <div class="layui-input-block">
                              <input type="text" name="username" required  lay-verify="required" placeholder="请输入昵称" autocomplete="off" class="layui-input" value="{$user.username}">
                            </div>
                          </div>
                          
                           <div class="layui-form-item">
                                <label class="layui-form-label">性别</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="sex" value="0" title="保密" {if $user.sex == 0} checked {/if}  >
                                  <input type="radio" name="sex" value="2" title="男" {if $user.sex == 2} checked {/if} >
                                  <input type="radio" name="sex" value="1" title="女" {if $user.sex == 1} checked {/if} >
                                </div>
                           </div>
                           
                           <div class="layui-form-item">
                            <label class="layui-form-label">生日</label>
                            <div class="layui-input-block">
                              <input type="text" name="birthday" required  lay-verify="required" placeholder="请输入生日" autocomplete="off" class="layui-input" id="test1" >
                            </div>
                          </div>
                           
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">个性签名</label>
                                <div class="layui-input-block">
                                  <textarea name="signature" placeholder="请输入个性签名内容" class="layui-textarea">{$user.signature}</textarea>
                                </div>
                              </div>
                              <div class="layui-form-item">
                                <div class="layui-input-block">
                                  <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                                  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                              </div>
                          
                          
                          
                        </form>
                        
                    </div>
                  </div>
                </div>
         </div>       
  </div>                
      