<script>
        
          //监听提交
          form.on('submit(formDemo)', function(data){
            // layer.msg(JSON.stringify(data.field));
            console.log(JSON.stringify(data.field));
            var dast = form.val("nei2s");
            $.ajax({
          url:"{:url('user/uppassword')}",
          data:{'data':dast},
          type:"Post",
          dataType:"json",
          success:function(data){
            console.log(data);
              layer.msg(data.msg);
              
              setTimeout(function(){
                  location.reload(); //删除成功后再刷新
                // layer.closeAll();
              },500)
              
          },
          error:function(data){
            //   $.messager.alert('错误',data.msg);
               layer.alert(data.field.interest, {
                  title: '错误'+data.msg
                })
          }
      });
            
            return false;
          });
        
    </script>