 .forms{
            width: 50%;
            padding: 10px;
}
.tabl{
            padding:10px;
            background-color: #fff;
}
        .bitian{
            color: #f00;
}

.widthauto{
    width: auto;
 }
 .tabl{
            padding:10px;
            background-color: #fff;
        }